body {
    text-align: center;
}

.message {
    position: absolute;
    top: 263px;
    width: 100%;
    margin: auto;
    font-family: fantasy, cursive;
    font-size: 80px;
    color: deeppink;
    font-weight: bolder;
}

.hide {
    display: none;
}